body {
	width: 100%;
	margin: 0;
	background-color: #171717;
	color: lightgray;
	font-family:  Arial, sans-serif;
}
a {
	color:lightgray;
}
a:visited {
	color:lightgray;
}
::selection {
	background: lightgray;
}